<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELISH</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="css/log1.css">
    <link rel="stylesheet" href="css/log2.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log2.css') }}">
    
</head>
<body>    
    <!-- Intro -->
    <div id="intro" class="parallax-window" data-parallax="scroll" data-image-src="static/img/login.jpg">
        <div class="container">

        <div class="container mx-auto px-2 tm-intro-width">
            <div class="sm:pb-60 sm:pt-48 py-20">
                <div class="bg-black bg-opacity-70 p-12 mb-5 text-center">
                    <h1 class="text-white text-5xl tm-logo-font mb-5">THE INDIAN BISTRO</h1>
                    <p class="tm-text-gold tm-text-2xl">where every bite tells a story!</p>
                    <div class="Login"><button id="loginBtn">Login</button></div>
                    <div class="login-container hidden" id="loginContainer">
                        <h2>Login</h2>
                        <form id="loginForm" action="#" method="post">
                            <div class="input-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" required>
                            </div>
                            <div class="input-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <button type="submit">Login</button>
                            <p>if you have not yet sign up <a href="/signup">signup now!</a></p>
                        </form>
                    </div>
                </div>                                         
            </div>
        </div>        
    </div>


    <script src="script.js"></script>
</div>
</div>        
</div>


{% if username_not_found %}
        <script>alert("Username not found. Please sign up.");</script>
    {% endif %}

    <!-- Display alert message for incorrect password -->
    {% if password_incorrect %}
        <script>alert("Incorrect password. Please try again.");</script>
    {% endif %}
    
    <script src="js/log1.js"></script>
    <script src="js/log2.js"></script>
    <script src="js/log3.js"></script>
    <script src="js/log4.js"></script>
    <script src="{{ url_for('static', filename='js/log1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/log2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/log3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/log4.js') }}"></script>
    <script>

        function checkAndShowHideMenu() {
            if(window.innerWidth < 768) {
                $('#tm-nav ul').addClass('hidden');                
            } else {
                $('#tm-nav ul').removeClass('hidden');
            }
        }

        $(function(){
            var tmNav = $('#tm-nav');
            tmNav.singlePageNav();

            checkAndShowHideMenu();
            window.addEventListener('resize', checkAndShowHideMenu);

            $('#menu-toggle').click(function(){
                $('#tm-nav ul').toggleClass('hidden');
            });

            $('#tm-nav ul li').click(function(){
                if(window.innerWidth < 768) {
                    $('#tm-nav ul').addClass('hidden');
                }                
            });

            $(document).scroll(function() {
                var distanceFromTop = $(document).scrollTop();

                if(distanceFromTop > 100) {
                    tmNav.addClass('scroll');
                } else {
                    tmNav.removeClass('scroll');
                }
            });
            
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>

</body>
</html>